*{
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;

}
.header{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/university.jpg);
    background-position:center;
    background-size:cover;
    position:relative;
}
.header1{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/about.jpg);
    background-position:center;
    background-size:cover;
    position:relative;
}
.header2{
    min-height:100vh;
    width:100%;
    background-color:#2F4F4F;
    background-position:center;
    background-size:cover;
    position:relative;
}
.header3{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/course.jpg);
    background-position:center;
    background-size:cover;
    position:relative;
}
.header4{
    min-height:10vh;
    width:100%;
    background-color:#5D6D7E;
    background-position:center;
    background-size:cover;
    position:relative;
}
.header5{
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(to bottom, #e3eaf5, #cbcae3, #c1a7c8, #bc82a1, #b1606f);background-position:center;
    background-size:cover;
    position:relative;
}

nav{
    display:flex;
    padding:2% 6%;
    justify-content:space-between;
    align-items:center;
}
nav img{
    width:150px;
}
.nav-links{
    flex:1;
    text-align:right
}
.nav-links ul li{
    list-style:none;
    display:inline-block;
    padding:8px 12px;
    position:relative
}
.nav-links ul li a{
    color:white;
    text-decoration:none;
    font-size:13px;
}
.nav-links ul li::after{
    content:"";
    width:0%;
    height:2px;
    background:#f44336;
    display:block;
    margin:auto;
    transition:0.5s
}
.nav-links ul li:hover::after{
    width:100%
}
.hyper{
    background-color:red;
    color:aqua;
    height:30px;
    text-align:right;
}
.text-box{
    width:90%;
    color:#ffff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}
.text-box h1{
    font-size:62px
}
.text-box p{
    margin:10px 0 40px;
    font-size:14px;
    color:#fff;
}
.visit_button{
    display:inline-block;
    text-decoration:none;
    color:#fff;
    border:1px solid #fff ;
    padding:12px 34px;
    font-size:13px;
    background:transparent;
    position:relative;
    cursor:pointer;
}
.visit_button:hover{
    border:1pxsolid #f44336;
    background: #f44336;
    transition:1s
}
nav .fa{
    display:none;
}

@media(max-width:700px){
    .text-box h1{
    font-size: 20px
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links{
        position:absolute;
        background:#f44336;
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align:left;
        z-index:2;
        transition:1s
    }
    nav .fa{
        display:block;
        color:#fff;
        margin:10px;
        font-size:22px;
        cursor:pointer;
    }
    .nav-links ul{
        padding:30px;

    }
}
.course{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px; 
}
h1{
    font-size:36px;
    font-weight:14px;
}
h3{
    font-size:62px
}
p{
    color:red;
    font-size:14px;
    font-weight:300 ;
    line-height:22px;
    padding:10px;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
}
.course-col{
    flex-basis:31%;
    background:#fff3f3;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition:0.5s
}
.course-col h3{
    text-align:center;
    width:100%;
    font-weight:500;
    color:black;
    font-size:26px;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2)
    
}
@media(max-width:700px){
    .row{
        flex-direction:column
    }
}

.text{
    font-size:40px;
    font-family:Times New Roman;
    text-align:right;
}
.text h1{
    font-size:20px;
    font-family:Times New Roman;
    text-align:right;
    color:#ffff
}
.text p{
    font-size:20px;
    font-family:Times New Roman;
    text-align:right;
    color:#ffff
}
.campus{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:50px;
}
.campus-col{
    flex-basis:32%;
    border-radius:10px;
    margin-bottom:30px;
    position:relative;
    overflow:hidden;
}
.campus-col img{
    width:100%;
    height:100%;
    display:block;
}
.layer{
    background:transparent;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;    
    transition:0.5s;
}
.layer:hover{
    background:rgba(226,0,0,0.7)
}
.layer h3{
    width:100%;
    font-weight:500;
    color:#ffff;
    font-size:26px;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    position:absolute;
    opacity:0;
    transition:0.5s;
}
.layer:hover h3{
    bottom:49%;
    opacity:1;
}
.facilities{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}
.facilities-col{
    flex-basis:31%;
    border-radius:10px;
    margin-bottom:5%;
    text-align:left;
    justify-content:space-between;
}
.facilities-col h3{
    width:100%;
    font-weight:500;
    color:#ffff;
    font-size:26px;
}
.facilities-col img{
    width:100%;
    border-radius:10px;
    height:100%
}

.foundation{
    width:80%;
    margin:auto;
    text-align:left;
    padding-top:100px; 
}
.foundation h1{
    color:black;
    font-size:30px;
    font-weight:bold ;
    line-height:22px;
    padding:10px;
}
.foundation h3{
    color:red;
    font-size:25px;
    font-weight:300 ;
    line-height:22px;
    padding:10px;
}
.programme{
    margin-top:5%;
    display:inline-table;
    justify-content:space-between;
}
.programme-col{
    margin-left:150px;
    flex-basis:31%;
    background:#5D6D7E ;
    border-radius:10px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition:0.5s
}
.programme-col h3{
    text-align:center;
    width:100%;
    font-weight:bold;
    color:blue;
    font-size:26px;
}
.programme-col p{
    text-align:left;
    width:100%;
    color:#fff;
    font-size:20px;
}
.programme-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2)  
}
.apply{
    background-color: red;
    background-image: linear-gradient(red, orange);
    background: red;
    background: linear-gradient(red, orange);
}
.apply-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #71b7e6, #9b59b6);
   }
   form .button input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  .contact{
    height: 40vh;
    width: 100%;
    background-image:linear-gradient(rgba(7, 32, 56, 0.788),rgba(4,9,30,0.7)), url(image/contact.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.contact h1{
    font-size: 50px;
}
.contact-row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
}
.contact-col{
    flex-basis:31%;
    padding:30px 2px;
}
.contact-col h1{
    padding-top:0%
}
.contact-col h3{
    font-size:15px
}
.contact-col p{
    padding:15px 0 25px;
    color:black;
       
}
.subject{
    margin-top:5%;
    display:inline-table;
    justify-content:space-between;
}
.subject-row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
}
.subject-col{
    flex-basis:31%;
    padding:30px 2px;
}
.subject h1{
    font-size:50px
}
.subject h3{
    color:blue;
    font-size:30px
}
.subject p{
    padding:15px 0 25px;
    color:black;
}

